<%- include('templates/header', { title: 'Forbidden', user }) %>
<h1 class="text-warning">403 - Forbidden</h1>
<p>You are not authorized to access this page.</p>
<a href="/" class="btn btn-secondary">Return Home</a>
<%- include('templates/footer') %>
