<%- include('templates/header', { title: 'Cats', user }) %>

<% if (user) { %>
  <h1>Hello, <%= user.name %>!</h1>
  <div class="row">
    <% ['cat1.jpg', 'cat2.jpg', 'cat3.jpg'].forEach(function(img) { %>
      <div class="col-md-4 mb-3 d-flex justify-content-center">
        <img src="/images/<%= img %>" class="img-thumbnail" style="width: 100%; max-width: 300px; height: 300px; object-fit: cover;" alt="Cat image">
      </div>
    <% }) %>
  </div>
<% } else { %>
  <p>You are not logged in.</p>
  <a href="/" class="btn btn-secondary">Go to Home</a>
<% } %>

<%- include('templates/footer') %>